DOCKER_REGISTRY_USERNAME=
KAMAL_REGISTRY_PASSWORD=

DEPLOY_HOST=
APP_HOST=

NUXT_INDEXER_URL=
NUXT_ETHERSCAN_KEY=

NUXT_PUBLIC_EVM_CHAINS_MAINNET_RPC1=https://ethereum-rpc.publicnode.com
NUXT_PUBLIC_EVM_CHAINS_MAINNET_RPC2=https://rpc.flashbots.net
NUXT_PUBLIC_EVM_CHAINS_MAINNET_RPC3=
