.git
.DS_Store
node_modules
**/node_modules
frontend/.nuxt
frontend/.output
frontend/.vercel
indexer/generated
*.log
.env
.env.*
!.env.example
!indexer/.env.local.example
!indexer/.env.production.example
!frontend/.env.production.example
